.train-btn {
    background-color: #6c5ce7; /* Lila für Training */
    margin-bottom: 10px;
    font-size: 14px;
    padding: 10px;
}

#trainModelBtn {
    background-color: #b2bec3; /* Grau bis aktiv */
}

#listenBtn {
    background-color: #b2bec3; /* Grau bis aktiv */
}

.spacer {
    height: 15px;
}